{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'myglobal.css' %}">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>

<div class="topnav">
  <a href="/">Strona Główna</a> |
  <a href="/tabs/tab_details/2">Kredyty i Finanse</a> |
  <a href="/tabs/tab_details/3">Ubezpieczenia</a> |
  <a href="/tabs/tab_details/4">O Mnie</a> |
  <a href="/posts">Blog</a> |
  <a href="/contact">Skontaktuj się ze mną!</a>
</div>

{% block content %}
{% endblock %}

</body>
</html>